{% extends 'base.html' %}

{% block title %}
My Enrolments
{% endblock %}


{% block content %}

<div class="card">

    <h1>My Enrolments</h1>

    <p>
        Courses that you are currently enrolled on.
    </p>

</div>


<ul class="course-list">

    {% for enrolment in enrolments %}

        <li>

            <h3>
                {{ enrolment.course.title }}
            </h3>

            <p>
                {{ enrolment.course.description|truncatewords:30 }}
            </p>

            <p class="muted">
                Enrolled:
                {{ enrolment.enrolled_at }}
            </p>

            <a
                class="button"
                href="{% url 'course_detail' enrolment.course.id %}"
            >
                View Course
            </a>

        </li>

    {% empty %}

        <li>
            You are not currently enrolled on any courses.
        </li>

    {% endfor %}

</ul>

{% endblock %}